



.pythoninfo, .rubyinfo, .jsinfo, .rustinfo, .swiftinfo, .goinfo {
  display: none;
}
#rubyText, #pythonText, #jsText, #rustText, #swiftText, #goText {
  display:none;
}

.jumbotron {
  text-align: center;
  color: blue;
}
